<section class="footer">
	<div class="row">
		<div class="col-md-4">
			<div class="col-md-12 padding">
				<h4>General Info</h4>
				<hr>
				<h5>Address Line 1</h5>
				<h5>Address Line 2</h5>
				<h5>Address Line 3</h5>
			</div>
		</div><!-- col-md-4 -->
		<div class="col-md-4">
			<div class="col-md-12 padding">
				<h4>Subscribe</h4>
				<hr>
				<form class="form-inline my-2 my-lg-0">
      		<input class="form-control mr-sm-2" type="text" placeholder="Insert Your Email" aria-label="Email"
      						style="margin-bottom:10px; width:100%;"><br>
      			<button class="btn btn-light my-2 my-sm-0" type="submit">Submit</button>
    		</form>
			</div><!--col-md-12-->
		</div><!--col-md-4-->
		<div class="col-md-4">
			<div class="col-md-12 padding">
				<h4>Social</h4>
				<hr>
				<h5>Facebook</h5>
				<h5> Twitter </h5>
			</div>
		</div><!--col-md-4-->
