<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class ="col-md-7 text-center">
<div class = "jumbotron">
	<h1>Welcome to my Blog</h1>
	<% if current_user && current_user.admin? %>
	<p><%= link_to 'Read My Blog', articles_path, class: 'btn btn-lg btn-welcome' %></p>
	<% end %>
</div><!--jumbotron-->
</div><!--col md-7-->
<div class="col"></div>
</div><!--row-->
